@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
}
  
  .card {
    height: 700px;
    width: 500px;
    margin: 0 10px;
    background-color: #ebebebee;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);


    overflow: hidden;
  }
  
  .card img {
    width: 400px;
    padding-top: 180px;   
    align-items: center; 
  }
  
  .card .content {
    padding-bottom: 20px;
    background-color: #ebebebee; /* Cor de fundo do conteúdo */
  }
  
  .card h2 {
    color: #0d0c0c;
    background-color: #ebebebee;
   text-align: center;
    font-size: 1.0rem;
    margin-bottom: 10px;
  }
  
  .card p {
    text-align: center;
    font-size: 1rem;
    color: #000000;
  }
  